#popupDictionaryWindow {
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0,0,0,.4);
    position: absolute;
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    animation: popup 0.3s;
    width: 400px;
    padding: 8px 16px;
}
@keyframes popup {
    from { opacity: 0 }
    to { opacity: 1 }
}
#popupDictionaryWindow button {
    float: right;
    padding:0.3em 1em;
    border-radius: 1em;
    color:#fff;
    font-weight: bold;
    background-color: #4e9af1;
    border: 0px;
}
#popupDictionaryWindow button:hover{
    background-color: #4095c6;
    cursor: pointer;
}
#popupDictionaryWindowText {
    display: inline;
}

#popupDictSpinner {
    width: 20px;
    height: 20px;
    margin: auto;
    box-sizing: border-box;
    border: 2px solid lightgrey;
    border-top-color: black;
    border-radius: 50%;
    animation: spinner 800ms linear infinite;
}
@keyframes spinner {
    to { transform: rotate(360deg); }
}
